[defaults]
intentory = hosts
stdout_callback = yaml
force_colors = True


[ssh_connection]
pipelining = true



[colors] #helemaal zelf verzonnen
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan
